[package]
name = "openscad-lsp"
version = "1.1.1"
edition = "2021"
authors = ["Leathong"]
description = "A language(LSP) server for OpenSCAD"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["language-server", "lsp", "openscad"]
categories = ["development-tools"]
include = ["/src", "README.md"]
repository = "https://github.com/Leathong/openscad-LSP"

[dependencies]
home = "0.5.3"
lsp-server = "0.6.0"
lsp-types = "0.93.0"
serde = "1.0.137"
serde_json = "1.0.81"
tree-sitter = "0.20.6"
tree-sitter-openscad = "0.4.0"
linked-hash-map = "0.5.4"
shellexpand = "2.1.0"
clap = {features = ["derive"], version = "3.1.17"}
lazy_static = "1.4.0"
regex = "1.5.6"