[package]
name = "openscad-lsp"
version = "1.2.5"
edition = "2021"
authors = ["Leathong"]
description = "A language(LSP) server for OpenSCAD"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["language-server", "lsp", "openscad"]
categories = ["development-tools"]
include = ["/src", "README.md"]
repository = "https://github.com/Leathong/openscad-LSP"

[dependencies]
lsp-server = "0.7.0"
lsp-types = "0.94.0"
serde = "1.0.145"
serde_json = "1.0.86"
tree-sitter = "0.20.9"
tree-sitter-openscad = "0.4.2"
linked-hash-map = "0.5.6"
shellexpand = "3.1.0"
clap = {features = ["derive"], version = "4.0.14"}
lazy_static = "1.4.0"
regex = "1.6.0"
directories = "5.0.1"